.default-author {
  .h4 {
    font-size: 15px;
  }

  .talk {
    padding-bottom: 0.75rem;
  }

  .talk_title {
      line-height: 1.5;
      font-weight: bold;
      font-size: 13px;
      font-family: $font-family;
  }

  .talk_date {
      color: grey;
      font-size: 13px;
      font-family: $font-family;
  }
}

.author {
    padding-top: 150px;

    img {
        border-radius: 50%;
        filter: grayscale(100%);
	max-height: 180px;
	max-width: 180px;
    }

    .avatar {
        text-align: center;
    }

    .links {
        text-align: right;

      a {
        border-bottom: 3px solid $turquoise;
      }

      a:hover {
        color: $white;
        background-color: $turquoise;
      }
    }

  .blog {
    margin-bottom: 0;
    color: $turquoise;
    font-weight: $font-bold;
  }

  .avatar > div {
    text-align: left;
  }

  .author-name > h1, h2 {
    text-align: left;
  }
}
