@use "colours";
@use "fonts";

.author-list {
  a {
    font-weight: fonts.$font-regular;
  }

  li {
    margin: 0.4rem 0;

    a {
      font-weight: fonts.$font-light;
    }
  }

  a:hover {
    color: colours.$black;
    border-bottom: 3px solid colours.$teal;
  }

  a:visited {
    color: colours.$black;
  }
}
