@use "colours";
@use "sizes";
@use "fonts";

html,
body {
  max-width: sizes.$max-width;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: colours.$white;
}

#off-canvas-wrapper {
  height: 100%;
}

.post-index,
.default-post,
.default-author {
  min-height: 100%;
  padding-bottom: sizes.$footer-height;
  margin-bottom: -(sizes.$footer-height);
}

/* Font Settings */

body {
  font-family: fonts.$font-family;
}

a.link {
  /* Links & Buttons   */
  font-weight: fonts.$font-medium;
  border-bottom: 5px solid;
  padding-bottom: 0;
  background-color: transparent;
  -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -o-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  line-height: 2em;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: fonts.$font-bold;
}

a:hover {
  color: colours.$teal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$font-family;
}

h1 {
  font-size: fonts.$baseFontSize * 2.5;
  font-weight: fonts.$font-bold;
  text-align: center;
}

h2 {
  font-size: fonts.$baseFontSize * 1.5;
  font-weight: fonts.$font-bold;
}

h3 {
  font-size: fonts.$baseFontSize * 1.25;
  font-weight: fonts.$font-bold;
}

h4 {
  font-size: fonts.$baseFontSize;
  font-weight: fonts.$font-bold;
}
h5 {
  font-weight: fonts.$font-medium;
}
h6 {
  font-weight: fonts.$font-regular;
}

p {
  font-size: 16px;
  font-weight: fonts.$font-light;
  span {
    font-weight: fonts.$font-medium;
  }
}

/* End Font Settings */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

blockquote,
blockquote p {
  color: colours.$black;
}

header nav {
  ul {
    padding: 0;
    list-style: none;
    text-align: right;
    justify-content: flex-end;

    li {
      display: inline-block;
    }
  }
}

.header-nav_bottom {
  li {
    padding-left: 1.25rem;
  }

  .menu a {
    padding: 0 0 2.1875rem 0;

    display: block;
    border-bottom: 5px solid transparent;
  }

  li:nth-child(1),
  li:nth-child(4) {
    a:hover,
    a.active {
      color: colours.$black;
      border-bottom: 5px solid colours.$pink;
    }
  }

  li:nth-child(2) {
    a:hover,
    a.active {
      color: colours.$black;
      border-bottom: 5px solid colours.$teal;
    }
  }

  li:nth-child(3) {
    a:hover,
    a.active {
      color: colours.$black;
      border-bottom: 5px solid colours.$orange;
    }
  }
}

.category > a {
  font-weight: fonts.$font-light;
}

.cta > a {
  font-weight: fonts.$font-bold;
}

.header-nav_top {
  ul {
    margin: 0.625rem 0 0.625rem 0;
  }

  li {
    font-size: 0.6875rem;
    padding-left: 0.625rem;
  }

  a {
    font-size: 0.6875rem;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding: 0 0 0.0625rem 0;
  }

  a:hover {
    color: colours.$black;
    border-bottom: 1px solid colours.$black;
    padding-bottom: 0.0625rem;
  }
}
