$codeBackground: #f9f2f4;

code, pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

code {
  border: none;
  background-color: $codeBackground;
  padding: 0;
}

code.highlighter-rouge {
  padding: 2px 4px;
  font-size: $monospaceFontSize;
  color: #c7254e;
  background-color: $codeBackground;
  border-radius: $smallLayoutUnit;
}

pre {
  display: block;
  padding: $layoutUnit;
  margin: 0 0 $layoutUnit;
  font-size: $monospaceFontSize;
  line-height: 1.42857143;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  background-color: $codeBackground;
  border: 1px solid #ccc;
  border-radius: $smallLayoutUnit;

  @include breakpoint(large) {
    margin-left: calc((16.66667% + 0.9375rem) * -1);
    margin-right: calc((16.66667% + 0.9375rem) * -1);
  }
}
