$white: #fff;
$black: #252525;
$grey: #767676;
/* TEAL */
$teal: #2bb3bb;
$light-teal: #dff4f5;
/* ORANGE */
$light-orange: #fdede4;
$orange: #ef8547;
/* PINK */
$light-pink: #f9eaf1;
$pink: #c41565;
/* YELLOW */
$light-yellow: #fef9ef;
$yellow: #f8be4f;
