.cc-window {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12), 0px 2px 6px 0px rgba(0,0,0,0.1);
    width: 22em;
    max-width: 22em;
    font-family: $font-family;
    font-size: 12px;
}

.cc-link {
    font-weight: normal;
}

@media screen and (max-width: 900px) {
    .cc-window.cc-left{
        left: 50%;
        transform: translate(-50%);
    }

    .cc-window.cc-bottom {
        bottom: 20px;
    }
}