.default-post {

  &.teal {
    @include hero-colour-scheme($light-teal, $teal, $white);
    @include article-colour-scheme($teal, $black);
  }

  &.orange {
    @include hero-colour-scheme($light-orange, $orange, $white);
    @include article-colour-scheme($orange, $black);
  }

  &.pink {
    @include hero-colour-scheme($light-pink, $pink, $white);
    @include article-colour-scheme($pink, $white);
  }

  &.yellow {
    @include hero-colour-scheme($light-yellow, $yellow, $white);
    @include article-colour-scheme($yellow, $black);
  }

  padding-top: 80px;
  @include breakpoint(large) {
    padding-top: 150px;
  }

  .hero {

    margin-bottom: 1rem;
    @include breakpoint(large) {
      margin-bottom: 2rem;
    }

    > .content {
      padding: 2rem 0;
      @include breakpoint(large) {
        padding: 3rem 0;
      }
    }

    > .shape {
      position: relative;
      font-size: 0;
      height: inherit;

      svg.bg {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      svg.fg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    }
  }

  .title {
    text-align: left;
  }

  .side-lists {

    a:hover {
      color: $black;
    }

    .back, .author-social-media-link {
      a:hover {
        color: $white;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  .post-content {

    a {
      color: $black;
      font-weight: $font-regular;
    }

    h1 {
      text-align: left;
    }

    pre {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    ol, ul {
      list-style-position: outside;
      margin: 0 0 1rem 1.25rem;
      padding: 0;
      font-weight: $font-light;
      font-size: $baseFontSize;
      line-height: 1.6;
    }

    ul {
      list-style-type: disc;
    }
  }

  .author-information {
    div, img {
      display: inline-block;
    }

    img {
      border-radius: 50%;
      max-height: 3rem;
      margin-right: .25rem;
      filter: grayscale(100%);
    }
  }

}
