@mixin footer-colour-scheme($bg-colour, $fg-colour) {
  background-color: $bg-colour;

  .footer-links {
    a {
      color: $fg-colour;
      font-weight: 400;
      &:hover {
        color: $black;
      }
    }
  }

  .footer_bottom-layer {
    a {
      color: $black;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg {
    fill: $fg-colour;
  }
}

footer {
  @include footer-colour-scheme($light-teal, $teal);
  &.pink {
    @include footer-colour-scheme($light-pink, $pink);
  }
  &.orange {
    @include footer-colour-scheme($light-orange, $orange);
  }
  &.yellow {
    @include footer-colour-scheme($light-yellow, $yellow);
  }

  height: 100px;
	width: 100%;
	display: block;
	padding: rem-calc(20px, 16px) 0;
	text-align: center;

	.footer-logo {
		width: 159px;
		height: 17px;
		display: inline-block;
		vertical-align: bottom;
		a {
			background: url('./assets/logo.svg') no-repeat;
			width: 100%;
			height: 100%;
			display: block;
			text-indent: -9999px;
		}
	}

	.footer-links {
		display: inline-block;
		vertical-align: bottom;
		line-height: rem-calc(16px, 16px);
		margin-left: rem-calc(20px, 16px);

		a {
			display: inline-block;
			font-size: rem-calc(14px, 16px);
			margin-right: rem-calc(14px, 16px);
			vertical-align: middle;

			&.footer-links_twitter {
				width: rem-calc(18px, 16px);
				height: rem-calc(14px, 16px);
			}

			&.footer-links_linkedin {
				width: rem-calc(16px, 16px);
				height: rem-calc(16px, 16px);
			}
		}
	}

	.footer_bottom-layer {
		margin-top: rem-calc(10px, 16px);
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				vertical-align: bottom;
				font-size: rem-calc(12px, 16px);
				padding: 0 rem-calc(5px, 16px);
				color: $black;
				a {
					color: $black;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
