@use 'colours';
@use 'fonts';
@use 'util';

.post-index {

  padding-top: 125px;
  @include util.breakpoint(large) {
    padding-top: 150px;
  }

	h1, h2 {
		text-align: center;
	}

  h2 {
    font-weight: fonts.$font-regular;
  }

	.sub-title {
		margin-bottom: 2rem;
		@include util.breakpoint(large) {
			margin-bottom: 3rem;
		}
	}

	h2.super-title {
		font-size: fonts.$baseFontSize;
		> a {
			color: colours.$teal;
			&:hover {
				color: colours.$white;
				background-color: colours.$teal;
			}
		}
	}

  .main-content > div {
    display: inline-block;
  }

  .active {
    border-bottom: 3px solid colours.$teal;
  }

  .category-list-compact {
    label {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: .5rem;
      text-align: center;
    }
  }
}
