@use 'colours';
@use 'fonts';
@use 'util';

.post-index {

  padding-top: 125px;
  @include util.breakpoint(large) {
    padding-top: 150px;
  }

  h1, h2 {
    text-align: left;
  }

  h2 {
    font-weight: fonts.$font-regular;
  }

  .sub-title {
    margin-bottom: 2rem;
    font-size: fonts.$baseFontSize * 2;
    @include util.breakpoint(large) {
      margin-bottom: 3rem;
    }
  }

  h2.super-title {
    font-size: fonts.$baseFontSize * 3;
    > a {
      color: colours.$teal;
      &:hover {
        color: colours.$white;
        background-color: colours.$teal;
      }
    }
  }

  .main-content > div {
    display: inline-block;
  }

  .active {
    // border-bottom: 3px solid colours.$teal;
  }

  .category-list-compact {
    label {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: .5rem;
      text-align: center;
    }
  }
}
