  table thead {
    border-bottom: 1px solid #333;
  }
  table th {
    font-weight: bold;
  }
  table td, table th {
    padding: 5px;
  }
  table tr:first-child td {
    padding-top: 10px;
  }
  th:nth-child(5), td:nth-child(5) {
    border-left: 1px solid gray;
  }
  table {
    margin-bottom: 17px;
  }