# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# These files are text and should be normalized (convert crlf -> lf)
*.md      text
*.xml     text
*.js      text
*.html    text
*.htm     text
*.css     text
*.svg     text
*.java    text
*.pdf     -text

