{%- assign author-id = include['author-id'] -%}
{%- assign author = site.data.authors.authors[author-id] -%}
<div class="author-summary-wrapper">
  <div class="author-information cell">
    {%- include_cached author_picture.html author=author author-id=author-id -%}
    <a rel="author" href="{{- site.baseurl -}}/{{- author-id -}}">{{- author.name -}}</a>
  </div>
  <div class="cell author-summary">
    {%- assign pre_tagged = author['author-summary'] | starts_with: '<' -%}
    {%- if pre_tagged -%}
      {{- author['author-summary'] -}}
    {%- else -%}
      <p>
        {{- author['author-summary'] -}}
      </p>
    {%- endif -%}
  </div>
</div>
