<div class="author-information cell">
  <img src="{{ site.baseurl }}/{{ authorUsername }}/{{ author.picture }}" alt="{{ author.name }}"/>
  <a rel="author" href="{{ site.baseurl }}/{{ authorUsername }}">{{ author.name }}</a>
</div>
<div class="cell">
  {{ author.author-summary }}
  {% if  author.twitter-url %}
      {% assign twitter-url-split = author.twitter-url | split: '/' %}
      <div class="author-social-media-link">
          <a rel="author" href="{{ author.twitter-url}}">@{{ twitter-url-split[3] }}</a>
      </div>
  {% endif %}
</div>