{% assign selectedIndex = include.selectedIndex %}
<aside aria-labelledby="category-list" class="category-list cell">
    <h4 id="category-list">Categories</h4>
    <ul>
        {% for category in site.data.categories %}
            <li>
                <a href="{{ site.baseurl }}{{ category.url }}">
                    <span class="{% if selectedIndex == forloop.index0 %}active {% endif %}">{{ category.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</aside>
