{%- assign post = include.post -%}
{%- assign shape = include.shape -%}

<div class="summary cell large-9 medium-10 small-11 grid-y align-center">
  <div class="cell">{%- include category_display.html post = post -%}</div>
  <h3 class="cell">
    <a href="{{- site.baseurl -}}{{- post.url -}}">{{- post.title -}}</a>
    {%- include post_summary_social.html post=post -%}
  </h3>
  <div class="cell">{{- post.summary | truncatewords: 25 -}}</div>
  <div class="avatar-metadata cell">
    {%- assign author = site.data.authors.authors[post.author] -%}
    {%- include_cached author_picture.html author=author -%}
    {%- include post_metadata.html post=post -%}
  </div>
</div>
<div class="shape cell large-3 medium-2 small-1 grid-y align-center">
  {%- comment -%} Allow shape to be overridden during include {%- endcomment -%}
  {%- if shape == null -%}
    {%- capture shape -%}{%- include post_shape.html post=post -%}{%- endcapture -%}
    {%- assign shape = shape | strip -%}
  {%- endif -%}
  {%- case shape -%}
    {%- when 'shape1' -%}
      <svg
        class="bg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 650 465"
        preserveAspectRatio="none"
      >
        <polygon points="0 0 650 132.977 499.388 465 0 465" />
      </svg>
    {%- when 'shape2' -%}
      <svg
        class="bg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 650 410"
        preserveAspectRatio="none"
      >
        <polygon points="0 0 350 0 650 300 650 410 0 410" />
      </svg>
    {%- when 'shape3' -%}
      <svg
        class="bg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 650 410"
        preserveAspectRatio="none"
      >
        <polygon points="0,0 400,0 850,500 0,950" />
      </svg>
    {%- when 'shape4' -%}
      <svg
        class="bg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 650 410"
        preserveAspectRatio="none"
      >
        <path d="M0 0h542l108 87v183L420 465H0z" />
      </svg>
    {%- else -%}
      <svg
        class="bg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 650 410"
        preserveAspectRatio="none"
      >
        <polygon points="0 0 650 0 650 109.736 353 410 0 410" />
      </svg>
  {%- endcase -%}
  {%- if post.image and post.featuredImage -%}
    {%- capture image-path -%}{{- site.baseurl -}}/{{-post.image-}}{%- endcapture -%}
    <img
      class="cell show-for-large"
      alt="thumbnail of post: '{{-post.title-}}'"
      src="{{- image-path | replace: " //", "/" -}}"
    >
  {%- endif -%}
</div>
