{% if include.categoryName == 'Latest Articles' %}
  {% assign featuredPosts = site.tags.featured %}
{% else %}
  {% assign featuredPosts = '' | split: '' %}
  {% for post in include.postsToFilter %}
    {% if post.tags contains 'featured' %}
      {% assign featuredPosts = featuredPosts | push: post %}
    {% endif %}
  {% endfor %}
{% endif %}
{% assign numPosts = featuredPosts | size %}
{% if numPosts >= 2 %}
  <div class="featured-posts grid-x grid-margin-x grid-margin-y">
    {% for post in featuredPosts limit: 2 %}
      <div class="featured-post {% include post_colour.html post=post %} cell large-6 grid-x">
        {%- include featured_post.html post=post -%}
      </div>
    {% endfor %}
  </div>
{% endif %}
