{%- if include.post.colour -%}
  {{- include.post.colour -}}
{%- elsif include.postIndex != nil -%}
  {%- assign colourIndex = include.postIndex | modulo: 4 -%}
  {%- case colourIndex -%}
    {%- when 0 -%} teal
    {%- when 1 -%} orange
    {%- when 2 -%} pink
    {%- when 3 -%} yellow
  {%- endcase -%}
{%- else -%}
  {%- assign colourIndex = include.post.title | size | modulo: 4 -%}
  {%- case colourIndex -%}
    {%- when 0 -%} teal
    {%- when 1 -%} orange
    {%- when 2 -%} pink
    {%- when 3 -%} yellow
    {%- endcase -%}
{%- endif -%}