{% assign allPosts = include.posts %}
{% assign categoryName = include.categoryName %}
{% for category in site.data.categories %}
    {% if categoryName == category.title %}
        {% assign categoryIndex = forloop.index0 %}
    {% endif %}
{% endfor %}
{% if include.paginated %}
    {% assign paginated = include.paginated %}
{% else %}
    {% assign paginated = false %}
{% endif %}
<div class="post-index grid-container">
  {% if categoryName == "Latest Articles" %}
  <h1>Blog</h1>
  <p class="cell sub-title sub-title">Our thoughts on technology and design</p>
  {% else %}
    {% include blog_super_title.html %}
    <h1 class="title">{{ categoryName }}</h1>
  {% endif %}
  <div class="hide-for-large">{% include category_list_compact.html selectedIndex=categoryIndex %}</div>
  <h2 class="visually-hidden">Posts</h2>
  {% include featured_posts.html postsToFilter=allPosts categoryName=categoryName %}
  <div class="cell grid-x">
    <div class="cell large-7 large-offset-1">
      {% include post_summary_list.html posts=allPosts paginated=paginated %}
    </div>
    <div class="side-lists cell large-2 large-offset-2 grid-padding-y grid-margin-y">
      {% include category_list.html selectedIndex=categoryIndex %}
      {% include author_list.html %}
    </div>
  </div>
</div>

{% include site-footer.html %}
