{%- assign hideCategory = include.hideCategory -%}
{%- assign fullWidth = include.fullWidth -%}
{%- if include.posts != null -%}
  {%- assign posts = include.posts -%}
  {%- assign paginated = false -%}
{%- else -%}
  {%- assign posts = paginator.posts -%}
  {%- assign paginated = posts -%}
{%- endif -%}
<div class="post-summary-list grid-container fluid">
  <div class="content grid-x">
    {%- for post in posts -%}
      {%-
        include post_summary.html 
        post=post 
        postIndex=forloop.index0
        hideCategory=hideCategory
        fullWidth=fullWidth
      -%}
    {%- endfor -%}
    {%- if paginated -%}
      {%- include pagination.html -%}
    {%- endif -%}
  </div>
</div>
