{% assign author = include.author %}
{% assign authorUsername = include.authorUsername %}
{% assign page = include.page %}

{% assign allPosts = site.posts | where: "author", page.author %}
<div class="grid-x grid-margin-y grid-padding-y">
    <div class="cell grid-x grid-margin-y grid-padding-y">
        <div class="read-more cell large-6 small-10 grid-margin-y">
            <svg class="show-for-large" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 252">
                <path d="M0 69.5L69.5 0h42.4L0 111.9V69.5zm0 70.7L140.2 0h.9l20.7 20.7L0 182.6v-42.4zm0 70.7l176-176 21.2 21.2L1.3 252H0v-41.1zM29.6 252L211.4 70.2l21.2 21.2L72 252H29.6zm70.7 0l146.4-146.4 5.3 5.3v31.9L142.7 252h-42.4z"/>
            </svg>



            <h2>Read more</h2>
        </div>
        <div class="small-2 cell hide-for-large">
            {% include social.html %}
        </div>
    </div>
</div>