<footer class="{% include post_colour.html post=page %} grid-container">
  <div class="footer_top-layer">
    <div class="footer-logo"><a href="{{site.scottlogic.url}}">Scott Logic</a></div>
    <div class="footer-links">
      <a href="{{site.scottlogic.url}}/who-we-are/#contact-us">Contact Us</a>
      <a class="footer-links_twitter" href="https://twitter.com/Scott_Logic" aria-label="Visit our Twitter">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.3 40" style="enable-background:new 0 0 49.3 40;" xml:space="preserve">
          <path d="M49.3,4.7c-1.8,0.8-3.8,1.3-5.8,1.6c2.1-1.2,3.7-3.2,4.4-5.6c-2,1.2-4.1,2-6.4,2.5C39.6,1.2,37,0,34.1,0
            C28.5,0,24,4.5,24,10.1c0,0.8,0.1,1.6,0.3,2.3C15.9,12,8.4,8,3.4,1.8C2.6,3.3,2.1,5.1,2.1,6.9c0,3.5,1.8,6.6,4.5,8.4
            c-1.7-0.1-3.2-0.5-4.6-1.3c0,0,0,0.1,0,0.1c0,4.9,3.5,9,8.1,9.9c-0.8,0.2-1.7,0.4-2.7,0.4c-0.7,0-1.3-0.1-1.9-0.2c1.3,4,5,6.9,9.4,7
            c-3.5,2.7-7.8,4.3-12.6,4.3c-0.8,0-1.6,0-2.4-0.1C4.5,38.4,9.8,40,15.5,40c18.6,0,28.8-15.4,28.8-28.8c0-0.4,0-0.9,0-1.3
            C46.2,8.5,47.9,6.8,49.3,4.7z"></path>
        </svg>
      </a>
      <a class="footer-links_linkedin" href="https://www.linkedin.com/company/scott-logic-limited/" aria-label="Visit our LinkedIn">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14.1 14" style="enable-background:new 0 0 14.1 14;" xml:space="preserve">
          <g>
            <path d="M3.1,14h-3V4h3V14z M14.1,14h-3V8.7c0-1.4-0.5-2.1-1.5-2.1C8.8,6.6,8.3,7,8.1,7.7c0,1.3,0,6.3,0,6.3h-3c0,0,0-9,0-10h2.4
              l0.2,2h0.1c0.6-1,1.6-1.7,2.9-1.7c1,0,1.9,0.3,2.5,1c0.6,0.7,1,1.7,1,3V14z"></path>
          </g>
          <g>
            <ellipse cx="1.6" cy="1.5" rx="1.6" ry="1.5"></ellipse>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer_bottom-layer">
    <ul>
      <li>© Copyright Scott Logic 2020.</li>
      <li><a href="{{site.scottlogic.url}}/privacy/">Privacy</a></li>
    </ul>
  </div>
</footer>
