<nav id="mobileMenu" aria-hidden="true">
    <div class="mm-panels">
        <div class="menu-mobile-menu-container mm-panel mm-hasnavbar mm-opened" id="mm-0">
            <div class="mm-navbar">
                <a class="mm-title">Menu</a>
            </div>
            <ul id="mobile-menu" class="menu mm-listview">
                <li ><a href="{{site.scottlogic.url}}">Home</a></li>
                <li ><a href="{{site.scottlogic.url}}/what-we-do/">What we do</a></li>
                <li ><a href="{{site.scottlogic.url}}/our-work/">Our work</a></li>
                <li ><a href="{{site.scottlogic.url}}/who-we-are/">Who we are</a></li>
                <li ><a href="{{site.scottlogic.url}}/careers/">Careers</a></li>
                <li ><a href="{{site.scottlogic.url}}/events/">Events</a></li>
                <li ><a href="{{site.scottlogic.url}}/news/">News</a></li>
                <li ><a href="{{site.scottlogic.url}}/blog">Blog</a></li>
                <li ><a href="{{site.scottlogic.url}}/who-we-are/#contact-us">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="mobile-nav-trigger">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="mobile-search"></div>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-6 medium-6 cell">
                <h1 class="brand"><a href="{{site.scottlogic.url}}">Scott Logic / Altogether Smarter</a></h1>
            </div>
            <div class="large-6 medium-6 cell">
                <div class="header-nav_top">
                    <nav aria-label="upper-nav">
                        <div class="menu-secondary-container">
                            <ul id="secondary-menu" class="menu">
                                <li><a href="{{site.scottlogic.url}}/careers/">Careers</a></li>
                                <li><a href="{{site.scottlogic.url}}/events/">Events</a></li>
                                <li><a href="{{site.scottlogic.url}}/news/">News</a></li>
                                <li><a href="{{site.scottlogic.url}}/who-we-are/#contact-us">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="header-nav_bottom">
                    <nav aria-label="main-nav">
                        <div class="menu-primary-container">
                            <ul id="primary-menu" class="menu">
                                <li><a href="{{site.scottlogic.url}}/what-we-do/">What we do</a></li>
                                <li><a href="{{site.scottlogic.url}}/our-work/">Our work</a></li>
                                <li><a href="{{site.scottlogic.url}}/who-we-are/">Who we are</a></li>
                                <li><a href="{{site.scottlogic.url}}/blog">Blog</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
